nav ul {
	overflow: hidden;
}
nav ul li {
	float: left;
	margin-left: 10px;
	list-style-type: none;
}

.invalid-data,failure {
	font-weight: bold;
	color: orange;
	font-size: 1.5em;
}

#welcome-cont {
	color: #2CB1F2;
	font-weight: bold;
	display: inline;
}

#logout-cont {
	float: right;
}

.post {
	border: 1px solid gray;
}

.post label {
	background: gray;
}